.formContainer {
  background-color: rgb(255, 255, 255);
  display: flex;
  width: 40%;
  max-height: 100vh;
  border-radius: 0px 10px 10px 0px;
  overflow-y: scroll;
  border-right: 1px solid rgb(239, 239, 239);
  flex-direction: column;
  /* z-index: 10; */
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 5px 20px 1px; */
  /* can remove shadow in future */
}

.formContainer::-webkit-scrollbar {
  display: none;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
  margin-bottom: 0rem;
}
