.wrapper {
  /* background-color: red; */
  margin-top: 1rem;
  display: flex;
}

.imageInputWrapper {
  width: 50%;
  /* background-color: lightskyblue; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 1rem;
}

.imageOutputWrapper {
  width: 50%;
  height: 100%;
  /* background-color: lightgreen; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
}

.imageOutputWrapperHolder {
  width: 10rem;
  height: 10rem;
  border-radius: 5px;
  /* border: 1px dashed grey; */
}
