.inputElement {
  display: flex;
  /* flex-direction: column; */
  padding: 1rem 0.1rem;
  /* height: 5rem;   */
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 2px solid rgb(239, 239, 239); */
}

.attributeName {
  width: 25%;
  font-weight: bold;
  border: none;
  height: 100%;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  /* font-size: 1.2rem; */
}

.attributeInput {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attributeInput > input {
  height: 100%;
  width: 100%;
  padding: 0;
  outline: none;
  border: none;
}
