.mainContainer {
  height: 100%;
  width: 100%;
  display: flex;
}

.leftContainer {
  width: 65%;
  height: 100%;
}

.nameSection {
  padding-left: 2rem;
  text-align: left;
  height: 10rem;
}

.name {
  font-size: 3rem;
  text-align: left;
  margin-top: 1rem;
}

.sub {
  font-size: 1.5rem;
}

.contactSection {
  margin-top: 1rem;
  font-size: 1rem;

  display: flex;
}

.contactSectionChild {
  margin-right: 1rem;
}

.rightContainer {
  width: 35%;
  height: 100%;
  background-color: rgb(0, 102, 102);
}

.imageSection {
  height: 10rem;
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lowerSectionTitle {
  border-bottom: 2px solid gray;
  text-align: left;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.section {
  margin: 2rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.container {
  height: fit-content;
  font-weight: 400;
}

.header {
  text-align: left;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
}

.description {
  text-align: left;
  font-size: 1rem;
  white-space: initial;
  word-wrap: break-word;
  display: flex;
  justify-content: flex-start;
}

.skillsOutput {
  display: flex;
  height: auto;
  width: 100%;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 0.5rem;
}
