.buttonHolder {
  height: 100%;
  width: 5%;
  background-color: rgb(237, 230, 246);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.customizerComponent {
  /* background-color: red; */
  width: 100%;
  margin-bottom: 1rem;
}

.colorPicker {
  position: absolute;
  right: 4rem;
  bottom: 9rem;
  z-index: 100;
}

.colorPicker2 {
  position: absolute;
  right: 4rem;
  bottom: 5.5rem;
  /* z-index: 100; */
}
