.EducationField>h2,h5,h6{
    margin: 0;
}

.EduComponent{
    display: flex;
    flex-direction: column  ;
    /* border-bottom: 1px solid black; */
    text-align: left;
    padding-inline: 10px;
    font-size: 1.2rem;
    text-overflow:ellipsis;
    /* margin-bottom: 5px; */
    
    word-break:break-all ;
}
.EducationField{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0.15rem ;
    padding-bottom: 0.15rem;
    /* max-width: 50%;
    min-height: 10%; */
    /* display: inline-block; */

    /* border-bottom: 1px solid black; */
}
.EducationField>h2{
   font-size: 1rem;
   font-weight: 400;
}
.EducationField>span{
    font-size: 1rem;
    font-weight: 400;
}
.EduComponent>i{
    border-bottom:1px solid black ;
}

