

.wrapper {
  aspect-ratio: 1/1.414;
  background-color: white;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  /* overflow-x: hidden;
    overflow-y: hidden; */
    flex-wrap: wrap;
}




.maincontent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(100% - 5rem);
  flex-grow: 1;
}
