.wrapper {
  /* aspect-ratio: 1/1.414; */
  background-color: white;
  background-color: pink;
  /* min-height: 95vh;
  max-height: 95vh; */
  display: flex;
  flex-direction: column;
  min-width: 800px;
  height: 1130px;
  overflow-y: hidden;
}
.maincontent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  max-width: 50%;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  .wrapper {
    max-height: 100%;
    overflow: hidden;
    page-break-after: always;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    min-width: 100%;
  }
}
