.header>h2{
  font-size: 1.75rem;
  font-family:Georgia, 'Times New Roman', Times, serif ;
  font-weight: 400;
  margin: 0;
}

.wrapper {
  aspect-ratio: 1/1.414;
  
  background-color: rgb(249, 203, 97);
  min-height: 95vh;
  display: flex;
    flex-direction: column;
    overflow-x: hidden;


}
.header {
  width: 100%;
  border-bottom: 1px solid black ;
}

a {
  text-decoration: none;
  color: rgb(21, 107, 139);
}

.sociallinks{
 display: flex;
 justify-content: space-evenly;
  width: 100%;
  font-size: 1rem;
}