.ProjectField > h2 {
  margin: 0;
}
.ProjectComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 100%; */
  padding-inline: 10px;
  text-align: left;
  /* border-bottom: 1px solid black; */
  /* flex-grow: 1; */
}
.ProjectField {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0.5rem;

  /* border-bottom: 1px solid black; */
}
.ProjectField > h2 {
  font-size: 1rem;
  font-weight: 400;
}
.ProjectField > span {
  font-size: 1rem;
  font-weight: 400;
}
