.skillcomponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 100%; */
  text-align: left;
  padding-inline: 10px;
  font-size: 1.2rem;
  /* border-bottom: 1px solid black; */
  /* flex-grow:1; */
  padding-top: 0.5rem;
}
.skillfield {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 1rem;
  font-weight: 400;
  padding-top: 0.5rem;
  padding-bottom: 0.15rem;
  flex-wrap: wrap;
}
.skillfield > li {
  list-style: none;
  padding-inline: 7px;
  border-left: 1px solid black;
  /* margin-right: 1.5rem; */
}
/* .skillcomponent > i {
  border-bottom: 1px solid black;
} */
