.EducationField>h2,h5,h6{
    margin: 0;
}

.EduComponent{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}
.EducationField{
    display: flex;
    margin-top:20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 1rem;
    color: rgb(42, 45, 101);
}
.EducationField>h2{
   font-size: 1rem;
}
.EducationField>span{
    font-size: 1rem;
    font-weight: 400;
}

