.inputElement {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.1rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(239, 239, 239);
  margin-bottom: 1rem;
}

.attributeName {
  width: 92%;
  border: none;
  height: 100%;
  outline: none;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  /* font-size: 1.2rem; */
}

.attributeInput {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.attributeInput > input {
  height: 100%;
  width: 100%;
  padding: 0;
  outline: none;
  border: none;
}

.marginHolder {
  margin-bottom: 1rem;
  width: 100%;
}

.endHolder {
  width: 92%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
