.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  /* align-items: center; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.AppOutput {
  background-color: rgb(204, 230, 201);
  background-color: rgb(237, 230, 246);
  width: 60%;
  max-height: 100vh;
  overflow: hidden;
  /* overflow-y: auto; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  scroll-snap-align: baseline;
  padding-block: 3rem;
}

.AppOutput::-webkit-scrollbar {
  display: none;
}

.App-link {
  color: #61dafb;
}

@media only screen and (max-width: 600px) {
  * {
    margin: 0;
  }
  .App {
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }
  .AppOutput {
    min-width: 100%;
    position: absolute;
    left: 0rem;
    overflow-y: scroll;
    display: block;
    padding: 0;
    scale: 1;
  }
}
